
/**
--------------------------------------------------------------------------------
FONTS
--------------------------------------------------------------------------------
*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('resources/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('resources/fonts//MaterialIcons-Regular.woff') format('woff'),
    url('resources/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* ibm-plex-sans-200 - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 200;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-200.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-200.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-200.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-300 - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Light'), local('IBMPlexSans-Light'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-regular - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-300italic - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 300;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Light Italic'), local('IBMPlexSans-LightItalic'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-300italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-500 - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-italic - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 400;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-500italic - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 500;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500italic.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-500italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-600 - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-600italic - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 600;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600italic.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-600italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-700 - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}
/* ibm-plex-sans-700italic - vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 700;
    src: url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('resources/fonts/ibm-plex-sans-v6-vietnamese_latin_cyrillic-ext_cyrillic_greek_latin-ext-700italic.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}


/**
--------------------------------------------------------------------------------
RESET
--------------------------------------------------------------------------------
 */
* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    outline: none;
}

/**
--------------------------------------------------------------------------------
GENERAL
--------------------------------------------------------------------------------
 */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    color: #555;
    line-height: 2;
    -webkit-font-smoothing: antialised;
    text-rendering: optimizelegibility;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
}

/**
--------------------------------------------------------------------------------
HEADER BAR
--------------------------------------------------------------------------------
 */
.header {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,.075);
    border-bottom: 1px solid #eee;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.header-container {}

.header-main {
    height: 48px;
}

.header-main.separated {
    border-bottom: 1px solid #eee;
}

.header-main .left-action-btn {
    width: 50px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.header-main .left-action-btn i {
    line-height: 48px;
    color: #111;
}

.header-main .title {
    height: 48px;
    line-height: 48px;
    font-size: 19px;
    font-weight: 500;
    color: #111;
    position: absolute;
    left: 55px;
}

.header-main .right-action-btns {
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-main .right-action-btn {
    display: inline-block;
    width: 50px;
    height: 48px;
    color: #111;
    text-align: center;
    cursor: pointer;
}

.header-main .right-action-btn i {
    line-height: 48px;
}

/**
--------------------------------------------------------------------------------
CONTENT
--------------------------------------------------------------------------------
 */
.content {
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
    position: fixed;
    top: 48px;
    left: 0;
}

/**
--------------------------------------------------------------------------------
NOTES
--------------------------------------------------------------------------------
 */
.notes {}

/* Tablets portrait */
@media (min-width: 768px) and (max-width: 1024px) {

    .notes {
        padding: 50px 75px 50px 75px;
    }

}

/* Tablets landscape */
@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {

    .notes {
        padding: 25px 200px 25px 200px;
    }

}

.notes .note {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding: 18px;
}

.notes .note:last-child {
    border-bottom: 0;
}

.notes .note-content {
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes .note-content:before {
    display: block;
    content: '';
    width: 100%;
    height: 150px;
    background: linear-gradient(transparent, #fff);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/**
--------------------------------------------------------------------------------
NOTE EDITOR
--------------------------------------------------------------------------------
 */
.note-editor {
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
    outline: none;
    padding: 18px;
    position: fixed;
    top: 48px;
    left: 0;
}

/* Tablets portrait */
@media (min-width: 768px) and (max-width: 1024px) {

    .note-editor {
        padding: 68px 93px 68px 93px;
    }

}

/* Tablets landscape */
@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {

    .note-editor {
        padding: 43px 218px 43px 218px;
    }

}

.note-editor.toolbar-opened {
    height: calc(100% - 96px);
}

/**
--------------------------------------------------------------------------------
NOTE FORMATTING
--------------------------------------------------------------------------------
 */
.note-formatting {
    line-height: 1.5;
    font-size: 14px;
    color: #555;
}

.note-formatting h1 {
    font-size: 17px;
    font-weight: 400;
    color: #111;
    margin-bottom: 10px;
}

.note-formatting strong,
.note-formatting b {
    font-weight: 700;
    color: #111;
}

.note-formatting ul {
    margin-left: 17px;
}

.note-formatting ul li {
    list-style: disc;
}

.note-formatting ol {
    margin-left: 15px;
    margin-bottom: 15px;
}

.note-formatting ol li {
    list-style: decimal;
}

.note-formatting input {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: -2px;
    margin-right: 2px;
}

.note-formatting input:before {
    display: inline-block;
    content: ' ';
    width: 25px;
    height: 25px;
    background: url(resources/images/checkbox.svg) #fff no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -1px;
    left: -1px;
}

.note-formatting input[checked="checked"]:before {
    background: url(resources/images/checkbox-checked.svg) #fff no-repeat;
    background-size: 100% 100%;
}

/**
--------------------------------------------------------------------------------
NOTE TOOLBAR
--------------------------------------------------------------------------------
 */
.note-toolbar {
    width: 100%;
    height: 48px;
    background: #111;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
    position: fixed;
    left: 0;
    bottom: 0;
}

.note-toolbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-toolbar ul li {
    width: 50px;
    height: 48px;
    color: #999;
    text-align: center;
}

.note-toolbar ul li.active {
    color: #fff;
}

.note-toolbar ul li i {
    line-height: 48px;
    font-size: 22px;
}

/**
--------------------------------------------------------------------------------
ACTION
--------------------------------------------------------------------------------
 */
.action {
    width: 56px;
    height: 56px;
    color: #fff;
    text-align: center;
    background: #111;
    box-shadow: 0px 3px 5px rgba(0,0,0,.25);
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.action i {
    line-height: 55px;
}

/**
--------------------------------------------------------------------------------
CONFIRM DIALOG
--------------------------------------------------------------------------------
 */
.confirm-container {
    display: flex;
    width: 100%;
    height: 100%;
    color: #111;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.confirm h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.confirm p {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.confirm .buttons {}

.confirm .buttons div {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    background: #eee;
    border-radius: 25px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.confirm .buttons div.action-button {
    color: #fff;
    background: #111;
}

/**
--------------------------------------------------------------------------------
PLACEHOLDER
--------------------------------------------------------------------------------
 */
.placeholder {
    display: flex;
    width: 100%;
    height: calc(100% - 48px);
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-left: 18px;
    padding-right: 18px;
    top: 48px;
    left: 0;
}

.placeholder .no-notes {
    width: calc(100% + 36px);
    height: 100%;
    background: url(resources/images/empty-1.svg) no-repeat;
    background-position: top;
    background-size: cover;
    filter: grayscale(1);
    margin-left: -18px;
    margin-right: -18px;
}

/**
--------------------------------------------------------------------------------
LOADING
--------------------------------------------------------------------------------
 */
.loading {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.loading .icon {
    width: 50px;
    height: 50px;
    background: url(resources/images/icon/web_hi_res_512.png) no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 25px rgba(0,0,0,.25);
    border-radius: 100%;
    -webkit-animation: scaling 0.5s infinite alternate;
}

@-webkit-keyframes scaling {
    from {
        -webkit-transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(1.25);
        box-shadow: 0 0 30px #2868E4;
    }
}

.loading .text {
    margin-top: 50px;
}


/**
--------------------------------------------------------------------------------
DEMO
--------------------------------------------------------------------------------
 */
#demo {
    display: block;
    width: 100%;
    height: 100%;
    background: #3F80EC; /* red: E1413D, blue: 3F80EC */
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
}

#demo h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-top: 25px;
}

#demo .img {
    width: calc(100% - 125px);
    height: 85%;
    background: url(resources/images/screen-tablet-2.png) no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 25px rgba(0,0,0,.25);
    border-radius: 25px;
    position: absolute;
    margin-left: calc(125px / 2);
    bottom: 50px;
}